

.bouton-nouvcompte:hover {
    background-color: lightsteelblue;
    border-color: black;
    border:1px solid transparent;
}

.bouton-nouvcompte {
    background-color: cadetblue;
    border-color: black;
    color: white;
  }
.bouton-connexion {
    background-color: cadetblue;
    border-color: black;
    color: white;
  }
  
.bouton-connexion:hover {
    background-color: lightsteelblue;
    border-color: black;
    border:1px solid transparent;
}

.onglet {
    font-size: 15pt;
}

.navigation {
    display: block;
    margin-left : 1%;
}