.footer {
    height: 150px;
}

.fond-ajouter-tache {
    background-color: #2123210f;
    text-align: center;
}

.titre {
    padding-top: 20px;
    padding-bottom: 10px;
}

.titre2 {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 22pt;
}

.ajouter-tache {
    max-width: 30%;
    padding-bottom: 10px;
}


.liste {
    margin: 0;
    padding: 0;
}

.liste-nom {
    color: white;
    padding-left: 15px;
}

.task-nom {
    padding-left: 15px;
    border: 1px solid #b2b2b2;
}

.fond-liste-taches {
    text-align: left;
}

.rien-a-faire {
    text-align: left;
}

.bouton-deco {
    margin-left:80%;
}

.nom-compte{
    margin-left:2%;
}
