
<!DOCTYPE html>
<html ng-app="todoList" lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/menu.css">
  <link rel="stylesheet" type="text/css" href="css/nouvcompte.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="js/todolist.js"></script>
  <script src="js/factory.js"></script>


  <title>Création de compte</title>
</head>

<body ng-controller="UserController">

  <!-- Menu -->
  <div class="row navigation">
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <button class="btn btn-outline-success my-2 mr-sm-2 bouton-connexion" type="button"
            onclick="location.href='/login'">Se connecter</button>
        </form>
</div>

  <!-- Page -->
  <div class="container">
    <div class="container">
      <div class="row titre">
        <h1>Création de compte</h1>
      </div>
      <div class="row formulaire">
        <form ng-submit="createUser()">
          <div class="row">
            <div class="form-group col-md-6">
              <input type="text" class="form-control" placeholder="Prénom"
                pattern="([a-zA-Z\u00C0-\u00FF]+['-]?[a-zA-Z\u00C0-\u00FF]+){1,30}" required>
            </div>
            <div class="form-group col-md-6">
              <input type="text" class="form-control" placeholder="Nom"
                pattern="([a-zA-Z\u00C0-\u00FF]+['-]?[a-zA-Z\u00C0-\u00FF]+){1,30}" required>
            </div>
          </div>
          <div class="form-group">
            <input type="email" ng-model="username" class="form-control" placeholder="Email" required>
          </div>
          <div class="form-group">
            <input type="password" ng-model="mdp" class="form-control" id="password" placeholder="Mot de passe"
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
              title="Votre mot de passe doit contenir 8 caractères minimum, avec un chiffre, une minuscule et une majuscule"
              required>
          </div>
          <p class="erreur" ng-bind="creationErrorField"></p>
          <button type="submit" class="btn btn-primary bouton-valider" >Valider</button>
        </form>
      </div>
    </div>
  </div>

</body>

</html